---
import { getPostUrlBySlug } from "@utils/url-utils";
import PostCard from "@components/PostCard.astro";

const { page } = Astro.props;

let delay = 0;
const interval = 50;

type Entry = {
  data: {
    draft: boolean;
    title: string;
    tags: string[];
    category: string;
    published: Date;
    image: string;
    description: string;
    updated: Date;
  };
  slug: string;
};
---

<div
  class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4"
>
  {
    page.data.map((entry: Entry) => {
      return (
        <PostCard
          category={entry.data.category}
          class:list="onload-animation"
          description={entry.data.description}
          draft={entry.data.draft}
          entry={entry}
          image={entry.data.image}
          published={entry.data.published}
          style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
          tags={entry.data.tags}
          title={entry.data.title}
          updated={entry.data.updated}
          url={getPostUrlBySlug(entry.slug)}
        />
      );
    })
  }
</div>
